/*welcome to c#.net
using System;
class HelloWorld {
  static void Main() {
    Console.WriteLine("Say hello to c#.net");
  }
}*/

/*basic programming
using System;
class HelloWorld {
  static void Main() {
    int a=10,b=5;
    int c=(a+b)^(a-b)&(a*b);
    Console.WriteLine(c);
  }
}*/

/*method calls
using System;
class Samp{
  public int value{
      get;
      set;
  }
  public Samp(int a){
      this.value=a;
  }
}
class Program{
    static void Main(String [] args){
        Samp use= new Samp(89);
        Samp ise= new Samp(100);
        Console.WriteLine(use&ise);
    }
}*/

/*conditionals
using System;
class HelloWorld {
  static void Main() {
      if (100==50){
          Console.WriteLine("Yes");
      }
      else if(100%2==0){
          Console.WriteLine("Divisible");
      }
      else{
          Console.WriteLine("Exit");
      }
  }
}*/

/*looping->for each
using System;
class Prog{
    static void Main(){
        Int16[] n={1,2,3,4};
        foreach(Int16 i in n){
            Console.WriteLine(i);
        }
    }
}*/
